
@import "variables";
@import "uikit/uikit";
@import "uikit/uikit-theme";
@import "bootstrap/bootstrap";

@import 'typography';
@import 'grid';
@import 'buttons';

body {

	background: $grayGradient;
	min-height: 100vh;
	margin: 0;
	padding: 60px 0 0 0;
	overflow-x: hidden;

}

p {

	margin: 0;

}

a {

	color: $lightBlue;
	text-decoration: none;
	transition: $fastTransition;

	&:hover, &:focus {

		color: darken($lightBlue, 20%);
		text-decoration: none;

	}

}

.card {

	border: none;

}

.input-group-text {

	background: $lightBlue;
	border: 1px solid $lightBlue;
	color: $white;

}

blockquote {

	font-size: 2em;
	font-style: italic;
	color: $lightBlue;

}